html {
    background: #fefefe;
    font-family: Helvetica;
}

h1 {
    align-self: center;
}

header {
    background-color: #bababa;
    border-radius: 1em;
}

.flex {
    display: flex;
    justify-content: space-around;
    margin: 2em;
}

nav {
    align-self: center;
}


nav>ul {
    list-style-type: none;
    border-radius: 0.25em;
    background-color: #bababa;
    padding: 1em;
    margin: 1em;
}

li a {
    color: black;
    text-align: center;
    padding: 1.15em;
    text-decoration: none;
    font-size: 175%;
}

li .nav-btn-inactive:hover {
    background-color: #9c9c9c;
    transition: background-color ease-in-out 0.2s;
}


.nav-btn-active {
    background-color: #7c7c7c;
    text-decoration: none;
}

.details{
    width: 20em;
}